{% set primary_template = service('view').getPrimaryTemplate() %}
{% set language = language|default(current_language) %}
<div class="ui segment">     
    <div class="ui stackable grid">    
        <div class="one wide column">
            <button class="ui basic button icon reload-theme-details" title="{{ labels.reload }}">
                <i class="sync alternate icon"></i>
            </button>
        </div>
        <div class="five wide column">
            <label class="font-bold p-2">
                {{ labels.theme }}
            </label>
            {{  component('system:admin.templates.dropdown',{ 
                    selected: primary_template,
                    skip: ['system'], 
                    class: '' 
                }) 
            }}
        </div>
        <div class="six wide column">
            <label class="font-bold p-2">
                {{ labels.language }}
            </label>
            {{  component('semantic~language.dropdown',{
                    name: 'language', 
                    id: 'choose_language', 
                    selected: language, 
                    class: 'inline search selection' 
                }) 
            }}  
        </div>
    </div>
</div>
<div class="ui segment"> 
    <div class="ui stackable grid" id="template_details">       
        {{  component('translations::admin.translate.template.details',{ 
                theme_name: primary_template,
                language: language 
            }) 
        }}
    </div>
</div>