{% set template = package('template').createPackage(theme_name) %}
{% set parent_component = parent_component|default('') %}
{% set hide_title = hide_title|default(true) %}
{% set emails = template.getEmails(parent_component) %}

{% if hide_title != true %}
<div class="ui header">
    <i class="file alternate outline small blue icon"></i>    
    <div class="content">
        {{ title }}
    </div>    
</div>
<div class="ui divider"></div>
{% endif %}
<div class="ui list">
    {% for file in emails %}     
        {% set translations = template.getComponentTranslations(file.full_name,'emails') %}  
        {% set child_emails = template.getEmails(file.full_name) %}  
        <div class="item">
            <div class="left floated content">            
                {% if template.hasLanguage(translations,language) == true %}              
                    {% set hide_create = 'invisible' %}
                    {% set hide_edit = '' %}       
                    {% set delete_disabled = '' %}         
                {% else %}
                    {% set hide_create = '' %}
                    {% set hide_edit = 'invisible' %}
                    {% set delete_disabled = 'disabled' %}   
                {% endif %}          
                {% set disabled = (translations.languages|length == 0) ? 'disabled' : '' %}
                {% set delete_disabled = (language == 'en') ? 'disabled' : delete_disabled %}
                {% if demo_mode != true %}
                    <button class="ui mini basic compact button icon delete-translation {{ delete_disabled }}" 
                        theme="{{ theme_name }}"
                        type="emails"
                        component-name="{{ file.full_name }}"                
                        language="{{ language }}"
                        title="{{ labels.delete }}">
                        <i class="icon trash orange"></i>
                    </button>   
                {% endif %}
                <button class="ui mini basic compact button icon create-translation {{ disabled }} {{ hide_create }}" 
                    type="emails"
                    theme="{{ theme_name }}"
                    component-name="{{ file.full_name }}"                
                    language="{{ language }}"
                    title="{{ labels.translate }}">
                    <i class="icon green plus"></i>
                </button>                       
                <button id="edit_translaton_{{ file.name }}" class="ui mini basic compact button icon edit-translation {{ hide_edit }}" 
                    type="emails"
                    theme="{{ theme_name }}"
                    component-name="{{ file.full_name }}"
                    title="{{ labels.edit }}" 
                    language="{{ language }}">
                    <i class="icon edit blue"></i>                    
                </button>           
            </div>
            <i class="envelope open outline blue icon"></i>       
            <div class="content">
                <div class="header">
                    {% if child_emails|length > 0 %}
                        <a class="load-child-components" 
                            type="emails"
                            component-id="{{ file.id }}" 
                            parent="{{ file.full_name }}" 
                            theme="{{ theme_name }}" 
                            language="{{ language }}" >
                            {{ file.name }}   
                        </a>
                    {% else %}   
                        {{ file.name }}   
                    {% endif %} 
                </div>
                <div class="description">            
                    {% if translations.languages|length > 0 %}                  
                        <i class="globe icon small blue" title="{{ labels.translations }}"></i>  
                    {% endif %}
                    {% for item in translations.languages %}
                    <i class="pl-1 flag {{ (item == 'en') ? 'us' : item }}"></i>
                    <span class="underline">
                        {{ item }}
                    </span>
                    {% endfor %}
                </div>
                <div id="components_content_{{ file.id }}" class="mt-1 mb-1 hidden">
                </div>
            </div>      
        </div>
    {% endfor %}
</div>